{% extends 'store/base.html' %}

{% block content%}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-white-50 mb-0">"Welcome back! Please login to your account.</p>
                </div>
            </div>
        </header>
        <br><br>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label" >Username</label>
    <input type="text" class="form-control" id="username" name="username">
    <div id="emailHelp" class="form-text">We are SetoBazar.We'll never share your details with anyone.😉</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}