{% extends 'store/base.html' %}

{% block content%}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Register</h1>
                    <p class="lead fw-normal text-white-50 mb-0">"Create an account to enjoy a personalized shopping experience."</p>
                </div>
            </div>
        </header>
        <br><br>

<form method="post" action="{% url 'register' %}">
  {% csrf_token %}
  
  {{ form.as_p }}

  <button type="submit" class="btn btn-primary">Register</button>

</form>
{% endblock %}